.forecastDetails {
    background-color: #27737D;
    padding: 60px;
    padding-top: 40px;
    height: 92%;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#city {

    font-size: 24px;
    color: #E8F1F2;
    margin-bottom: 0%;
    line-height: 0.9;
}

#country {
    margin-top: 0%;
    margin-bottom: 1%;
    font-weight: 300;
    font-size: 20px;


    color: #A8C6CB;


   

}

#date {
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFFAA;
    margin-top: 1%;
    margin-bottom: 25px;

}

#temperature {
    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
}

#condition {

    font-weight: 300;
    font-size: 28px;
    line-height: 25px;
    color: #A8C6CB;
    margin-bottom: 40px;
    text-align: center;
}



#hourlyForecast {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hourlyForecastItem {
    text-align: center;
    font-size: 12px;
    color: #FFFFFFDD;
}



#moreDetailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 17px; 
    
}

.detailItem {
    text-align: center;
}

.lightColor {

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #A8C6CB;
}

.darkColor {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: medium;

}

  @media (max-width: 767px) {
    .forecastDetails {
     height:80%;
     width: 90%;
     
     
    }
    .container {
        padding: 20px;
        align-items:center;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        width: 100%;
    }
    
    #temperature {
        font-size: 70px;
    }
    
    #condition {
        font-size: 20px;
    }
    
    .lightColor, .darkColor {
        font-size: 14px;
        line-height: 20px;
    }
    #moreDetailsContainer,#hourlyForecast,#middlePart{
     
     flex: 0.8;
     display: flex;
     flex-direction: column;
    }
    
}

@media (min-width: 768px) and (max-width: 1023px) {
  

 
  #moreDetailsContainer{
    column-gap: 20px; 
  }
    
    #temperature {
        font-size: 75px;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  
 
    #moreDetailsContainer{
      column-gap: 20px; 
    }
      
      #temperature {
          font-size: 75px;
      }
  }